@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<showcase2>
<div class='grids2'>
       <div class='left-boxes'>
            <div class='box1'>
                <div class='image'></div>
                <div class='category'>@Model.Value("categoryTitle")</div>
                <div class='Title'>@Model.Value("cardTitle")</div>
                <div class='stars'><i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i> </div>
                <div class='price'>@Model.Value("priceNumber")</div>
            </div>
            <div class='box1'>
                <div class='image'></div>
                <div class='category'>@Model.Value("categoryTitle")</div>
                <div class='Title'>@Model.Value("cardTitle")</div>
                <div class='stars'><i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i> </div>
                <div class='price'>@Model.Value("priceNumber")</div>
            </div>
            <div class='box1'>
                <div class='image'></div>
                <div class='category'>@Model.Value("categoryTitle")</div>
                <div class='Title'>@Model.Value("cardTitle")</div>
                <div class='stars'><i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i> </div>
                <div class='price'>@Model.Value("priceNumber")</div>
            </div>
            <div class='box1'>
                <div class='image'></div>
                <div class='category'>@Model.Value("categoryTitle")</div>
                <div class='Title'>@Model.Value("cardTitle")</div>
                <div class='stars'><i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i> </div>
                <div class='price'>@Model.Value("priceNumber")</div>
            </div>
               <div class='box1'>
                <div class='image'></div>
                <div class='category'>@Model.Value("categoryTitle")</div>
                <div class='Title'>@Model.Value("cardTitle")</div>
                <div class='stars'><i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i> </div>
                <div class='price'>@Model.Value("priceNumber")</div>
            </div>
               <div class='box1'>
                <div class='image'></div>
                <div class='category'>@Model.Value("categoryTitle")</div>
                <div class='Title'>@Model.Value("cardTitle")</div>
                <div class='stars'><i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i> </div>
                <div class='price'>@Model.Value("priceNumber")</div>
            </div>
               <div class='box1'>
                <div class='image'></div>
                <div class='category'>@Model.Value("categoryTitle")</div>
                <div class='Title'>@Model.Value("cardTitle")</div>
                <div class='stars'><i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i> </div>
                <div class='price'>@Model.Value("priceNumber")</div>
            </div>
               <div class='box1'>
                <div class='image'></div>
                <div class='category'>@Model.Value("categoryTitle")</div>
                <div class='Title'>@Model.Value("cardTitle")</div>
                <div class='stars'><i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i></div>
                <div class='price'>@Model.Value("priceNumber")</div>
            </div>
      </div>


 </div>
 </showcase2>